@font-face {
    font-family: 'hooge 05_53';
    src: url('HOOG0553.woff2') format('woff2'), url('HOOG0553.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'hooge 05_54';
    src: url('HOOG0554.woff2') format('woff2'), url('HOOG0554.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'hooge 05_55';
    src: url('HOOG0555.woff2') format('woff2'), url('HOOG0555.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aldrich';
    src: url('Aldrich-Regular.eot');
    src: local('Aldrich Regular'), local('Aldrich-Regular'), url('Aldrich-Regular.eot?#iefix') format('embedded-opentype'), url('Aldrich-Regular.woff2') format('woff2'), url('Aldrich-Regular.woff') format('woff'), url('Aldrich-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Chakra Petch';
    src: url('ChakraPetch-Regular.woff2') format('woff2'), url('ChakraPetch-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

