@import './fonts/stylesheet.css';

body {
    margin: 0;
    box-sizing: border-box;
    background: linear-gradient(180deg, #CB6AEE 0%, #8533B2 14.3%, #5A1287 31.01%, #420C64 47.34%);
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1600px;
    padding: 0 16px;
    margin: auto;
}

@media (max-width: 768px) {
    .container {
      max-width: 736px;
    }
}
  @media (max-width: 375px) {
    .container {
      max-width: 343px;
    }
}

a, p {
    font-family: 'Aldrich';
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    font-size: 24px;
    color: white;
}

.textcolor__dp {    
    color: #B349D9;
}

.textcolor__lp {
    color: #D684F2;
}

.textcolor__bl {
    color: black;
}

h1, h2, h3, h4, h5 {
    font-family: 'hooge 05_54';
    margin: 0px;
}

.button {
    font-family: 'hooge 05_54';
    font-size: 32px;
    padding: 10px 28px;
    border: 4px solid white;
}

a {
    font-size: 24px;
    color: #FFF;
}

h2 {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
    word-wrap: break-word;
}

h3 {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
    text-align: center;
}

h4 {
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    word-wrap: break-word;
    text-align: center; 
}

@media (max-width: 532px) {
    h2 {
        font-size: 64px;
    }

    h3 {
        font-size: 48px;
    }

    .button {
        font-size: 24px;
    }
}

.text__nav {
    font-family: 'hooge 05_54';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
}

.text__nav__li {
    padding-left: 48px;
}

.header {
    width: 100%;
    background-color: white;
    padding: 8px 0px;
}

.header__flex {
    display: flex;
    justify-content: space-between;
}

.header__flex li {
    display: inline;
}

.intro {
    height: 966px;
    display: flex;
}

.intro__img {
    width: 50%;
}

.intro__text {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 125px;
}

.padding__intro {
    padding: 48px 0px 64px;
}

.intro__p {
    font-size: 32px;
    color: #FFF;
}

@media (max-width: 1150px) {
    .intro__img {
        display: none;
    }

    .intro__text {        
        width: auto;
        padding-left: 0;
        text-align: center;
    }


}

.game__cards {
    padding: 64px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 1500px) {
    
    .game__cards {
        justify-content: space-evenly;
        gap: 32px;       
    }   
}

.card {
    border: 6px solid white;
    width: 350px;
    height: auto;
    padding: 32px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__p {
    word-wrap: break-word;
    text-align: center;
    margin: 32px 0 48px;
}

.card__button {
    font-family: 'hooge 05_54';
    border: 4px solid white;
    padding: 8px 15px;
    text-align: center;
}

.about__us__container {
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    align-items: center;
    gap: 32px;
}

.about__us {
    width: 50%;
    height: auto;
}

@media (max-width: 1450px) {
    .about__us {
        width: auto;
    }
    
    .about-us__img {
      display: none;
    }
}

.about__us__color {
    background-color: white;
}

.about__us__h {
    text-align: left;
}

.about__us p {
    margin: 32px 0px 64px 0px;
}

.about__us__button {
    margin-top: 64px;
    border: 4px solid black;
}

.hide {
    display: none;
}


.mouse-parallax {
    height: auto;
    position: relative;
    overflow: hidden;
}

.mouse-parallax-bg {
    position: absolute;
    background-image: url("./img/stars.png");
    background-position: top center;
    background-repeat: no-repeat;
    
    width: 100%;
    height: 100%;
    transition: all 0.1s ease;
    z-index: -1;  
}

.hide1{
    display: block;
}

.hide2{
    display: none;
}

@media (max-width: 1150px) {
    .dropbtn {
        font-family: 'hooge 05_54';
        border: 2px solid black;
        background-color: white;
        color: darkorchid;
        padding: 18px;
        font-size: 16px;
        cursor: pointer;
    }

        .dropbtn:hover, .dropbtn:focus {
            background-color: #B349D9;
            color: white;
        }

    .dropdown {
        right: 0;
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        margin-left: -100px;
        margin-top: -2px;
        border: 2px solid black;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: #B349D9;
            padding: 12px 16px;
            font-family: 'hooge 05_54';
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #B349D9;
                color: white;
            }

    .hide1 {
        display: none;
    }

    .hide2 {
        display: block;
    }

    .show {
        display: block;
    }
}
